body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

.square1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}
.square2 {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}
.square3 {
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}
.square4 {
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}