body{
background-color:  #cccccc;    
}

h1{
color: red;
font-family: Ariel, Helvetica, sans-sherif;
font-size:34px;
}

p{
    color:  greenyellow;
font-family: "franklin, gothic medium", ""Arial Narrow";
font-size 14px;
}
#tekst1
{
    color: yellow;
}
.teksten
{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}